nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    max-width: 64px;
}

.nav-logo-huge {
    max-width: 128px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
}


li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.list-hover:hover a {
    background-color: rgb(5, 43, 138);
    color: rgb(208, 242, 255);
}