@use '../color.scss' as c;
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-logo {
    max-width: 64px;
}

.nav-logo-small {
    max-width: 32px;
}

.nav-logo-huge {
    max-width: 128px;
}

.navbar-ul {
    display: flex;
    list-style-type: none;
    margin: 0px 12px;
    padding: 0;
    overflow: hidden;
    align-items: center;
}


li a {
    display: block;
    color: #595C5F;
    text-align: center;
    text-decoration: none;
    padding: 3px;
}

.list-hover {
    &hover a {
        color: #A0A3A6
    }
}

.search-nav {
    border-radius: 4px;
    border: none;
    padding: 8px;
    font-size: medium;
    background-color: #edf9fe;
}

.toggle {
    display: none;
    list-style-type: none;
    margin: 0px 12px;
    padding: 0;
    overflow: hidden;
    align-items: center;
}

#check {
    display: none;
}

@media screen and (max-width: 720px) {
    .navbar {
        display: block;
        // justify-content: start;
    }

    .nav-main {
        padding: 0px 5px;
        display: flex;
        justify-content: space-between;
        width: 98%;
    }

    .nav-drop {
        display: none;
    }

    .drop-ul {
        display: block;
        list-style-type: none;
        width: 100%;
    }

    .side {
        display: none;
    }

    .toggle {
        display: block;
        cursor: pointer;
    }

    [id^=check]:checked + .nav-drop {
		display: block;
	}
}