@use "../color.scss" as c;
@use "../mixin" as m;

* {
    margin: 0;
    padding: 0;
}

.post-container {
    width: 95%;
    border: solid 1px rgb(221, 221, 221);
    padding: 8px 4px 4px 4px;
    margin-top: 4px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 12px;
    a {
        text-decoration: underline;
        cursor: pointer;
        color: c.$accent-blue
    }
}

.post-header {
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.post-header-image {
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.post-header-name {
    margin-left: 5px;
    display: flex;
}

.post-subheader {
    font-size: smaller;
    color: #595959;
}
.post-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-container {
    width: 100%;
    min-height: 64px;
    max-height: 128px;
    overflow-y: auto;
}

.post-content {
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2px 4px;
}

.post-content > p {
    word-break: break-all;
    white-space: normal;
}

.line-container {
    width: 100%;
}

.line {
    color: #b6b6b6;
    width: 98%;
    clear: both;
}

.content-footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.like-count {
    display: flex;
    align-items: center;
}

.likes {
    margin-left: 4px;
}

.post-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    min-height: 32px;
}

.post-actions > p {
    margin-left: 4px;
}

.comment-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.comment-header {
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.comment-item {
    padding: 4px 6px;
    margin: 4px;
}

.comment-card {
    background-color: #eaebec;
    border-radius: 0px 4px 4px 4px;
    padding: 4px 6px;
    margin: 4px 4px 2px 4px;
}

.reply-items {
    display: flex;
    flex-direction: column;
    margin: 8px 4px 4px 32px;
}

.reply-cards {
    margin-bottom: 4px;
    background-color: #eaebec;
    border-radius: 0px 4px 4px 4px;
    padding: 4px 6px;
}

.comment-card-actions {
    display: flex;
    font-size: x-small;
    align-items: center;
    margin-left: 4px;
    max-height: 24px;
}

.card-action {
    /* margin-left: 4px;
    margin-right: 4px; */
    display: flex;
    align-items: center;
    max-height: 18px;
    margin: 0px 4px;
    border-radius: 4px;
    padding: 1px 4px;
    transition: 0.3s;
    cursor: pointer;
}

.card-action:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.image-preview {
    width: 100%;
    display: flex;
    justify-items: center;
    margin: 12px;
}

.action-drop {
    display: none ; 
}

@media screen and (max-width: 720px) {
    .action-hide {
        display: none;
    }

    .action-drop {
        display: flex;
    }
}