@use "../_mixin.scss" as m;

.user-component-image {
    @include m.image-circular;
    width: 85px;
    height: 85px;
}

.user-component-text {
    margin-left: 12px;
}

.user-component-header {
    font-weight: bolder;
    font-size: large;
}

.user-component-subheader {
    color: rgba(56, 56, 56, 0.682) 
}

a {
    text-decoration: none;
    color: black
}

