@use "../_mixin.scss" as m;

.layout-page {
    margin: 32px 10% 0px 10%;
}
.layout-secondary {
    margin: 32px 10% 0px 10%;
    display: flex;
    flex-direction: row;
}

.layout-side {
    @include m.beautiful-boxes;
    flex-shrink: 3;
    background-color: white;
    margin-right: 5%;
    max-width: 256px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.layout-nav {
    @include m.beautiful-boxes;
    flex-shrink: 3;
    background-color: white;
    margin-right: 5%;
    max-width: 256px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.layout-main {
    @include m.beautiful-boxes;
    flex-grow: 5;
    background-color: white;
    padding: 32px;
}


@media screen and (max-width: 820px) {
    .layout-side {
        display: none;
    }

    .layout-nav {
        min-height: 0;
        height: auto;
        margin-bottom: 12px;
    }

    .layout-secondary {
        flex-direction: column;
    }
}