.profile-layout {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    margin: 32px;
}

.main-container {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.main-content {
    width: 98%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    margin-top: 8px;
    border: 1px solid ;
}

.user-banner {
    display: inline-block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 12px 12px 0px 0px;
    margin-top: -1px
}

.user-img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: -100px;
    margin-left: 20px;
    border: 5px solid white;
}

.secondary-container {
    flex: 2;
    background-color: white;
    border-radius: 12px;
    margin-left: 16px;
    margin-right: 16px;
}

.edit-profile {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 95%;
    margin-right: 12px;
}

.user-info {
    margin-top: 12px;

}

.user-info > h1 {
    font-weight: normal;
}

.user-info > h3 {
    font-weight: normal;
    margin-top: 4px;
}

.user-info > p {
    font-weight: lighter;
    color: rgb(126, 126, 126);
}


.profile-display {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-img-display {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: -35px;
}

.user-background-display {
    display: inline-block;
    width: 100%;
    height: 75px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    border-radius: 12px 12px 0px 0px;
}

@media screen and (max-width: 1200px) {
    .profile-layout {
        padding-left: 5%;
        padding-right: 5%;
        margin: 12px;
    }
}

@media screen and (max-width: 728px) {
    .secondary-container{
        display: none;
    }

    .user-img {
        width: 125px;
        height: 125px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;
    }
}
