.bg-primary {
    background-color: #f3f2ef
}

.bg-blue {
    background-color: rgb(0, 62, 219);;
}

.bg-white {
    background-color: white;
}

.color-blue {
    color:rgb(52, 108, 248)
}

.color-black {
    color: #595C5F;
}