$primary-light: #f3f2ef;
$accent-light: #b6b6b6;
$primary-black: #595C5F;
$pirmary-blue: rgb(52, 108, 248);
$accent-blue: rgb(0, 62, 219);

.bg-primary {
    background-color: $primary-light
}

.bg-blue {
    background-color: $accent-blue;
}

.bg-white {
    background-color: white;
}

.color-blue {
    color: $pirmary-blue
}

.color-black {
    color: $primary-black;
}

.color-light {
    color: $accent-light
}