$primary-light: #f3f2ef;
$primary-black: #4a4b4c;
$accent-black: #878787;
$primary-blue: rgb(52, 108, 248);
$accent-blue: rgb(0, 62, 219);
$light-line: rgba(0,0,0,.15);
$accent-gray: #595C5F;

$button-primary: #0065a9;
$button-primary-bg: rgb(35, 101, 255);

.bg-primary {
    background-color: $primary-light
}

.bg-blue {
    background-color: $accent-blue;
}

.bg-white {
    background-color: white;
}

.color-blue {
    color: $primary-blue
}

.color-black {
    color: $primary-black;
}

.color-light {
    color: $accent-black
}