.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-colum {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}