@use "./color.scss" as c;
@use "./mixin" as m;

* {
    transition: all 0.2s;
}

// html {
//     background-color: var(--bg);
//     --bg: c.$primary-light;
// }

// html[data-theme='dark'] {
//     background-color: var(--bg);
//     --bg: c.$primary-black
// }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}

.dark-theme {
    background-color: black;
    .navbar {
        background-color: c.$primary-black;
        .nav-link a {
            color: white
        }
    }
}

.light-theme {
    background-color: c.$primary-light;
    .navbar {
        background-color: white;
        .nav-link a {
            color: #595C5F;
        }
    }
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    width: 100%;
}

.center-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    // min-height: 480px;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn-primary {
    @include m.btn;
    color: white;
    background-color: c.$button-primary;
    &:hover {
        background-color: c.$button-primary-bg;
    }
}

.btn-primary-outline {
    @include m.btn-outline;
    color: c.$button-primary;
    background-color: white;
    border: solid 1px c.$button-primary;
    &:hover {
        background-color: c.$button-primary;
        color: white;
    }
}

.btn-secondary {
    color: black;
}

.text-link {
    margin-top: 4px;
    text-decoration: none;
    color: #0a66c2;
    border-radius: 32px;
    padding: 4px 8px 4px 8px;
    font-weight: 500;
}

.text-link:hover {
    text-decoration: underline;
    background-color: #9BDAF3;
    
}

.text-link:visited {
    text-decoration: none;
}

.text-subtitle {
    color: rgba(56, 56, 56, 0.682) 
}

.pointer-cursor {
    cursor: pointer;
}

.list-style-none {
    list-style: none;
}

.border-bottom-light {
    border-bottom: 1px solid c.$light-line;
}

.main-page-layout {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

.main-body {
    min-height: 70vh;
    margin-bottom: 32px;
}

.footer {
    width: 100%;
    min-height: 64px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    > li {
        display: inline;
        margin-left: 6px;
        margin-right: 6px;
    }
}

.footer-link {
    font-size: small;
    color: c.$accent-gray;    
}

.quill-editor {
    a {
        text-decoration: underline;
        cursor: pointer;
        color: c.$accent-blue
    }
}