.home-layout {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    align-items: stretch;
}

.home-container {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 32px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 196px;
}

.container-grow-2 {
    flex-grow: 2;
}

.container-grow-4 {
    flex-grow: 5;
}

.container-grow-3 {
    flex-grow: 3;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .home-container {
        min-width: none;
    }
}